pydantic
python-dotenv
numpy
scipy
black
openai
anthropic
google-generativeai
streamlit
pandas
charset_normalizer
watchdog
pymongo
numpy
scipy
trueskill
groq
# Gateway SDK - https://pypi.org/project/glueco-sdk/
glueco-sdk>=0.2.0

